<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API</title>
</head>
<body>
{% include "searcher/links.html" %}
<p>This app has its own API for getting statistics about searches. Main API endpoints are:</p>
<ul>
    <li>all found authors, sorted by the most searched:
        <br><a href="/api/authors/">http://.../api/authors/</a>
    </li>
    <br>
    <li>first x most searched authors:
        <br>http://.../api/authors/?limit=x
        <br>
        <br><i>for example <a href="/api/authors/?limit=3">http://.../api/authors/?limit=3</a></i>
    </li>
    <br>
    <li>specific author by name and surname:
        <br>http://.../api/author/Name%20Surname/
        <br>
        <br><i>for example <a href="/api/author/Paulo%20Coelho/">http://.../api/author/Paulo%20Coelho/</a></i>
    </li>
</ul>
</body>
</html>