<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Searcher</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        tr:nth-child(2n+1) {
            background: #ccc;
        }
    </style>
</head>

<body>
<h2>Search for the author's books</h2>
<div id="search_area" style="display: flex">
    <form method="get">
        <label for="author">Author:</label>
        <input type="text" name="author" id="author" required="required" placeholder="Name Surname">
        <button type="submit" id="btn_search">Search</button>
    </form>
    <button id="btn_clear">Clear</button>
</div>
<p id="info" style="display: none; color: blue">Searching... Please wait.</p>
<div id="results">
{% if author_key %}
    <br><b>Personal name:</b> {{ author_info.personal_name }}
    <br><b>Alternate names:</b> {{ author_info.alternate_names }}
    <br><b>Date of birth:</b> {{ author_info.birth_date }}
    {% if author_info.death_date %}
        <br><b>Date of death:</b> {{ author_info.death_date }}
    {% endif %}
    {% if author_info.bio %}
        <br><b>About the author:</b> {{ author_info.bio }}
    {% endif %}
    <br>
    <br><b>{{ author_work_count }} works as follows:</b>
    <button id="download-button" style="color: blue">Download CSV file with below results</button>
    <br>
    <br>
    <table>
        <tr>
            <th>Title</th>
            <th>Openlibrary URL</th>
        </tr>
        {% for key, value in books.items %}
        <tr>
            <td>{{ key }}</td>
            <td><a href="{{ value }}">{{ value }}</a></td>
        </tr>
        {% endfor %}
    </table>
{% endif %}
{% if searching_result == 0 %}
    <div id="searching_result_info">
        <p style="color: red">Can't find the author. Please try again.</p>
    </div>
{% endif %}
</div>

<script>
    const textarea = document.getElementById('author');
    const clear = document.getElementById('btn_clear');
    const results = document.getElementById('results');
    const info = document.getElementById('info');
    const search = document.getElementById('btn_search');
    const previous_info = document.getElementById('searching_result_info')

    clear.addEventListener('click', function clear() {
        textarea.value = '';
        results.style.display = 'none';
    });

    search.addEventListener('click', function search() {
        if(textarea.value.length != 0 ) {
            info.style.display = 'block';
            results.style.display = 'none';
            previous_info.style.display = 'none';
        }
    });
</script>

<script>
function htmlToCSV(html, filename) {
    var data = [];
	var rows = document.querySelectorAll("table tr");

	for (var i = 0; i < rows.length; i++) {
		var row = [], cols = rows[i].querySelectorAll("td, th");

		for (var j = 0; j < cols.length; j++) {
		        row.push(cols[j].innerText);
        }

		data.push(row.join(","));
	}

	downloadCSVFile(data.join("\n"), filename);
}
</script>

<script>
function downloadCSVFile(csv, filename) {
	var csv_file, download_link;

	csv_file = new Blob([csv], {type: "text/csv"});

	download_link = document.createElement("a");

	download_link.download = filename;

	download_link.href = window.URL.createObjectURL(csv_file);

	download_link.style.display = "none";

	document.body.appendChild(download_link);

	download_link.click();
}
</script>

 <script>
document.getElementById("download-button").addEventListener("click", function () {
	var html = document.querySelector("table").outerHTML;
	htmlToCSV(html, "books_{{ author_info.personal_name }}.csv");
});
</script>
</body>
</html>